.family-page {
  border-top: 4px solid;
}

.family {
  align-items: center;
  background-color: $gray;
  border-bottom: 4px solid;
  display: flex;
  height: 65vh;
  padding: 0 10vw;

  &--left {
    background-color: inherit;
    flex-direction: row-reverse;

    .family_info {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
    }
  }

  &_info {
    width: 60%;

    p {
      margin: 20px;
      text-align: justify;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
    }

    a {
      align-items: center;
      display: flex;
      height: 40px;
      justify-content: center;
      width: 15%;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }

  &_img {
    padding: 2vw;
    width: 40%;

    img {
      border: 4px solid;
      border-radius: 50%;
      height: auto;
      width: 100%;
    }
  }
}
