.family-container {
  align-items: center;
  border: 4px solid $black-main;
  border-radius: 5px;
  display: flex;
  height: 50vh;
  justify-content: space-between;
  margin: 5%;
}

.family-description {
  padding: 20px;
  width: 50%;

  p {
    margin: 10px 0;
  }
}

.description {
  margin-bottom: 30px;
}

.family-img {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;

  img {
    height: 80%;
    width: 80%;
  }
}
