.footer {
  align-items: center;
  background-color: $black-main;
  color: $gray-main;
  display: flex;
  height: 8vh;
  justify-content: space-around;
  margin-top: 20px;

  i {
    cursor: pointer;
    font-size: 40px;
    margin-right: 10px;
  }

  &--small {
    margin-left: 10%;
    width: 90%;
  }
}
