.top-header {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: space-between;
  margin: auto;
  width: 70%;

  img {
    height: 90%;
    width: auto;
  }
}

.search {
  align-items: center;
  border: 3px solid $black-main;
  border-radius: 2px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 300px;

  input {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    width: 100%;
  }

  i {
    background-color: $black-main;
    border-left: 3px solid $black-main;
    color: $white;
    cursor: pointer;
    font-size: 25px;
  }
}
