.v-center {
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.sec-color {
  background-color: $secundary-color;
}

.barr {
  background-color: $black;
  width: 2px;
}

.italic {
  font-style: italic;
}

.title {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}

.in-progress {
  background-color: $secundary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 30px;
}
