.navbar {
  align-items: center;
  display: flex;
  height: 18vh;
  justify-content: space-around;
  position: relative;
  width: 100%;

  .logo {
    height: auto;
    width: 25%;
  }

  &_item {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 8vh;
    justify-content: center;
    width: 10%;

    &:hover {
      border-bottom: 2px solid $black-main;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.submenu {
  position: relative;
  width: 15%;

  &-items {
    background-color: white;
    border-top: 2px solid $black-main;
    padding: 0 10px;
    position: absolute;
    width: 100%;
  }

  &_item {
    height: 8vh;
    width: 100%;

    i {
      font-size: 25px;
      margin: 0 20px 0 0;
    }
  }
}
