.search {
  display: flex;
  position: relative;

  &:hover {
    opacity: 0.5;
  }

  i {
    color: $main-color;
    cursor: pointer;
    display: block;
    font-size: 4vh;
  }

  input {
    border: 3px solid;
    border-radius: 8px;
    font-size: 16px;
    height: 5vh;
    left: -20vw;
    position: absolute;
    width: 20vw;
  }
}
