.slider-container {
  height: 75vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  i {
    align-items: center;
    background-color: $black;
    border: 1px solid;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 40px;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 40px;

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .9;
    }
  }

  .prev-btn {
    left: 5px;
  }

  .next-btn {
    right: 5px;
  }
}

.slider {
  display: flex;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    border-left: 13vw solid $black;
    border-right: 13vw solid $black;
  }
}
