.coverpage {
  display: flex;
  height: 65vh;
  justify-content: center;
  overflow: hidden;

  img {
    border-radius: 5px;
    margin-top: -35%;
    width: 100%;
  }
}

.specie-description {
  h1 {
    border-bottom: 2px solid;
    display: inline-block;
    margin: 15px 0;
  }

  p {
    margin: 1% 2%;
  }

  .list-container {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 50%;

    .barr {
      background-color: $black;
      width: 3px;
    }
  }
}
