.coverpage {
  display: flex;
  height: 65vh;
  justify-content: center;
  overflow: hidden;

  img {
    margin-top: -35%;
    width: 100%;
  }
}

.specie-description {
  background-color: $secundary-color;

  h1 {
    display: inline-block;
    margin-bottom: 15px;
  }

  p {
    margin: 1% 2%;
  }

  .list-container {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 50%;

    .barr {
      background-color: $black;
      width: 3px;
    }
  }
}

.section {
  min-height: 60vh;
  padding: 20px;
}

.specie-bionomy {
}

.specie-location {
  background-color: $secundary-color;
}

.specie-importance {
}

.specie-taxonomy {
  background-color: $secundary-color;
}

.specie-references {
}
