.coverpage {
  display: flex;
  height: 75vh;
  justify-content: center;
  overflow: hidden;

  img {
    border-left: 15vw solid;
    border-right: 15vw solid;
    width: 100%;
  }
}

.section {
  padding: 40px;

  h1,
  h2 {
    margin-bottom: 15px;
  }
}

.specie-description {
  h3 {
    margin: 20px 0 10px;
  }

  ul {
    max-height: 200px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.specie-bionomy {
  background-color: $secundary-color;

  p {
    margin: 20px 5vw;
    text-align: justify;
  }
}

.specie-location {
  .location-container {
    .map {
      width: 70%;
      margin: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    ol {
      max-height: 250px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: auto;
      align-items: center;
    }

    li {
      margin-bottom: 10px;
    }
  }
}

.specie-importance {
  background-color: $secundary-color;
  display: flex;
  justify-content: space-around;

  .importance-item {
    width: 45%;
  }

  h2 {
    margin-bottom: 40px;
  }

  li {
    margin: 10px 0;
  }
}

.specie-taxonomy {
  .key {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    height: 300px;

    img {
      border-radius: 3px;
      border: 5px solid $main-color;
      width: auto;
      height: 100%;

      &:hover {
        cursor: zoom-in;
        opacity: 0.9;
      }
    }

    ul {
      width: 40%;
      overflow: auto;
    }

    h3 {
      font-size: 22px;
      margin: 20px;
    }

    li {
      margin: 5px 0;
    }
  }
}

.specie-references {
  background-color: $secundary-color;

  li {
    margin: 15px 0;
  }
}
