$black: #000;
$black-second: #323232;
$black-transparent-i: rgba(0, 0, 0, .3);
$black-transparent-f: rgba(0, 0, 0, .8);
$gray: #e0e0e0;
$white: #fff;
$main-color: #428e6a;
$secundary-color: #dadada;
$footer-color: #585858;
