@font-face {
  font-family: Anton;
  src: url("../../fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Regular.ttf");
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 5%;
}

a {
  color: #323232;
  text-decoration: none;
}

li {
  list-style: none;
}

.background-gray {
  background-color: #e0e0e0;
}

.v-center {
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

.navbar {
  align-items: center;
  display: flex;
  height: 18vh;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.navbar .logo {
  height: auto;
  width: 25%;
}
.navbar_item {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 8vh;
  justify-content: center;
  width: 10%;
}
.navbar_item:hover {
  border-bottom: 2px solid #323232;
}
.navbar_item:active {
  opacity: 0.8;
}

.submenu {
  position: relative;
  width: 15%;
}
.submenu-items {
  background-color: white;
  border-top: 2px solid #323232;
  padding: 0 10px;
  position: absolute;
  width: 100%;
}
.submenu_item {
  height: 8vh;
  width: 100%;
}
.submenu_item i {
  font-size: 25px;
  margin: 0 20px 0 0;
}

.search {
  display: flex;
  position: relative;
}
.search:hover {
  opacity: 0.5;
}
.search i {
  color: #323232;
  cursor: pointer;
  display: block;
  font-size: 5vh;
}
.search input {
  border: 3px solid #323232;
  border-radius: 8px;
  font-size: 16px;
  height: 5vh;
  left: -20vw;
  position: absolute;
  width: 20vw;
}

.slider-container {
  background-color: #323232;
  height: 75vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 70%;
}
.slider-container i {
  align-items: center;
  background-color: #111;
  border: 1px solid #f1f1f1;
  border-radius: 40px;
  color: #f1f1f1;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 40px;
}
.slider-container i:hover {
  cursor: pointer;
  opacity: 0.6;
}
.slider-container i:active {
  border-color: #323232;
  color: #323232;
}
.slider-container .prev-btn {
  left: 5px;
}
.slider-container .next-btn {
  right: 5px;
}

.slider {
  display: flex;
  height: 100%;
  width: 100%;
}
.slider img {
  width: 100%;
}

.galery {
  background-color: #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  border-radius: 5px;
  cursor: pointer;
  height: 40vh;
  margin: 2% 2%;
  position: relative;
  width: 26vw;
}
.article figure {
  height: 100%;
  position: absolute;
}
.article figure img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.info {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
}
.info h2 {
  display: none;
  font-size: 30px;
}
.info p {
  display: none;
  margin: 5px;
}
.info:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.info:hover h2 {
  display: inline-block;
}
.info:hover p {
  display: block;
}

.footer {
  align-items: center;
  background-color: #323232;
  color: #e0e0e0;
  display: flex;
  height: 15vh;
  justify-content: space-around;
  margin-top: 50px;
}
.footer i {
  cursor: pointer;
  font-size: 40px;
  margin-right: 10px;
}

.text-area {
  margin: 60px 7%;
}
.text-area p {
  margin: 20px 0;
}

.family-card {
  align-items: center;
  background-color: #464646;
  border-radius: 5px;
  color: #e0e0e0;
  display: flex;
  height: 70vh;
  width: 70%;
}
.family-card--right {
  flex-direction: row-reverse;
}

.family-img {
  align-items: center;
  background-color: #323232;
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 35%;
}
.family-img img {
  height: auto;
  width: 70%;
}

.info-container {
  height: 100%;
  padding: 30px;
  width: 65%;
}

.description {
  margin-bottom: 30px;
}
.description h2 {
  text-align: center;
}
.description p {
  font-size: 18px;
  margin: 20px 0;
}

.species span {
  font-size: 18px;
  font-weight: bold;
}
.species li {
  height: 50px;
  padding: 0 10px;
}
.species li:hover {
  background-color: #323232;
}

.coverpage {
  display: flex;
  height: 65vh;
  justify-content: center;
  overflow: hidden;
}
.coverpage img {
  border-radius: 5px;
  margin-top: -35%;
  width: 100%;
}

.seccion {
  border: 1px solid #323232;
  border-radius: 5px;
  height: 130vh;
  margin: 0 20px 20px;
}

/*# sourceMappingURL=style.css.map */
